<h1><%= title %></h1>

<div class="nav-links">
    <a href="/new" class="btn btn-success">Add New Message</a>
</div>

<% if (messages.length > 0) { %>
    <% messages.forEach(message => { %>
        <div class="message">
            <div class="message-header">
                <span class="message-user"><%= message.username %></span>
                <span class="message-date"> at <%= message.added %></span>
            </div>
            <div class="message-text"><%= message.content %></div>
            <div style="margin-top: 10px;">
                <a href="/message/<%= message.id %>" class="btn">Open</a>
            </div>
        </div>
    <% }) %>
<% } else { %>
    <p>No messages yet. Add the first one!</p>
<% } %>